<form [formGroup]="personForm">
    <mat-form-field appearance="outline">
        <mat-label>Nome Completo</mat-label>
        <input matInput placeholder="Nome" formControlName="name" />
        <mat-error *ngIf="personForm.get('name')?.hasError('minlength')">
            Informar nome completo
        </mat-error>
        <mat-error *ngIf="personForm.get('name')?.hasError('required')">
            O nome é obrigatório
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input
            mask="000.000.000-00"
            matInput
            placeholder="CPF"
            formControlName="cpf"
            maxlength="14"
        />
        <mat-error *ngIf="personForm.get('cpf')?.hasError('required')">
            O CPF é obrigatório
        </mat-error>
        <mat-error *ngIf="personForm.get('cpf')?.hasError('cpfNotValid')">
            O CPF não é válido
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Endereço Completo</mat-label>
        <input matInput placeholder="Endereço" formControlName="address" />
        <mat-error *ngIf="personForm.get('address')?.hasError('minlength')">
            Informar endereço completo
        </mat-error>
        <mat-error *ngIf="personForm.get('address')?.hasError('required')">
            O endereço é obrigatório
        </mat-error>
    </mat-form-field>
    <div>
        <button mat-flat-button color="primary" (click)="onSubmit()">
            Salvar
        </button>
        <button mat-flat-button color="secondary" (click)="onReset()">
            Limpar
        </button>
    </div>
</form>
